*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  overflow: hidden;
}
.main-container{
scroll-snap-type: y mandatory;
overflow-y: scroll;
height: 100vh;
}
.box-container{
  width: 100vw;
  height: 100vh;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
scroll-snap-align: start;
}
.quote-box{
  background: rgba(255,255,255,.6);
  margin: 0 20px;
  padding: 10px 6px;
}
.auther{
  text-align: right;
  
}
